AFLPlus
afl-output-libtiff
afl-output-libxml2
afl-output-libxml2-20260907
.env
__pycache__
.venv
afl-output-libyaml-20260909
afl-output-libical
afl-output-libical-20260915
afl-output-tiff-20260907
afl-output-tidy-20261006
afl-logs-tidy
CLAUDE.md